
body,h1 {font-family: "Playfair Display", sans-serif}
body, html {height: 100%;
    background: #f3cdcb;
    /* background: linear-gradient(231deg, rgba(255,0,136,1) 0%, rgba(37,122,251,1) 100%); */
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@font-face {
    font-family: Poppins;
    src:url("../fonts/poppins/Poppins-Bold.ttf");
}

.button {
  background-color: #834257; /* Green */
  border: none;
  color: #f3cdcb;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Poppins, Open Sans;
  margin: 14px 12px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #f3cdcb; 
  color: #834257; 
  border: 3px solid #834257;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #834257;
  color: #f3cdcb;
}

header {  
color: #834257;
position: fixed;   
left: 0%;
height: 10%;  
width: 100%;
display: flex;  
align-items: center;    
background-color: rgba(255, 255, 255, 0);
backdrop-filter: blur(10px);
text-align: left;
z-index: 999999;
} 

#names {
  width: 90vmin; 
  height: 90vmin; 
  position: fixed;
  top:5%;
  /* bottom: 4vh; */
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto;
  font-family: Playfair Display;
  font-weight: 800;
  font-size: 10vmin;
  text-align: center;
  line-height: 110%;
  color:#834257;
  vertical-align: middle;
  display: table; 
  /* border-style: solid; */
}

#wreath {
  width: 90vmin; 
  height: 90vmin; 
  position: absolute;
  top:5%;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
  /* border-style: solid; */
  text-align: center;
}

.heading1 {
  font-family: Poppins, Open Sans;
  font-size: 120%;
  font-weight: 600;
  margin: auto;
}

.heading2 {
  font-family: Poppins, Open Sans;
  font-size: 90%; 
  font-weight: 100; 
  vertical-align: top;
  margin: auto;
}

#page2 {
  position: relative;
  z-index: 50;
}

#scroll {
  position: fixed;
  top:90vh;
  left: 90%;
  right: 0;
  float: right;
  margin:auto;
  z-index: 1000;
  font-family: Poppins, Open Sans;
  font-size: 100%; 
  font-weight: 100; 
  text-align: center;
  line-height: 100%;
  color:#834257;
  width: 5vw; 
  height: 15vh; 
  bottom: 0%; 
  /* border-style: solid; */
}

#arrow {
  position:relative;
  left: 0;
  right: 0;
  z-index: 20;
  margin: auto;
  font-family: Poppins, Open Sans;
  font-size: 100%; 
  font-weight: 100; 
  text-align: center;
  line-height: 100%;
  color:#834257;
  width: 50vw;  
  bottom: 0%; 
  /* border-style: solid; */
  z-index: 100;
}

#announce {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 20;
  margin: auto;
  font-family: Poppins, Open Sans;
  font-size: 5vmin; 
  font-weight: 100; 
  text-align: center;
  line-height: 100%;
  color:#834257;
  width: 45vw; 
  height: 15vmin; 
  bottom: 20%; 
  opacity: 0;
  /* border-style: solid; */
}

@media screen and (orientation:portrait) {

  #scroll {
  position: fixed;
  top:80vh;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto;
  font-family: Poppins, Open Sans;
  font-size: 100%; 
  font-weight: 100; 
  text-align: center;
  line-height: 100%;
  color:#834257;
  width: 15vw; 
  height: 15vw; 
  bottom: 0%; 
  /* border-style: solid; */
}

#names {
  top: 10%;
}

#wreath {
  top: 10%;
}

#arrow {
  width: 85vw;
}

}
