
body,h1 {font-family: "Playfair Display", sans-serif}
body, html {height: 100%;
  overflow-y: auto;
   -webkit-overflow-scrolling: touch;
    background: #f3cdcb;
    /* background: linear-gradient(231deg, rgba(255,0,136,1) 0%, rgba(37,122,251,1) 100%); */
  /* min-height: 100%; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.button {
  padding: 10vh 20vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Poppins, Open Sans;
  font-weight: 600;
  margin: 14vh 12vw;
  cursor: pointer;
  border-radius: 8px;
  background-color: #f3cdcb; 
  color: #834257; 
  border: 3px solid #834257;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #834257;
  color: #f3cdcb;
}

header {  
color: #834257;
position: fixed;   
left: 0%;
height: 10%;  
width: 100%;
display: flex;  
align-items: center;    
background-color: rgba(255, 255, 255, 0);
text-align: left;
z-index: 999999;
} 

#names {
  width: 90vmin; 
  height: 90vmin; 
  position: fixed;
  top:5%;
  /* bottom: 4vh; */
  left: 0;
  right: 0;
  z-index: 100;
  margin: auto;
  font-family: Playfair Display;
  font-weight: 800;
  font-size: 10vmin;
  text-align: center;
  line-height: 110%;
  color:#834257;
  vertical-align: middle;
  display: table; 
}

#wreath {
  width: 90vmin; 
  height: 90vmin; 
  position: fixed;
  top:5%;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto;
  /* border-style: solid; */
  text-align: center;
}

.heading1 {
  font-family: Poppins, Open Sans;
  font-size: 100%;
  font-weight: 600;
  margin: auto;
}

.heading2 {
  font-family: Poppins, Open Sans;
  font-size: 90%; 
  font-weight: 600; 
  vertical-align: top;
  margin: auto;
}

#page2 {
  position: relative;
  z-index: 50;
}

#scroll {
  position: fixed;
  top:90vh;
  left: 90%;
  right: 0;
  float: right;
  margin:auto;
  z-index: 1000;
  font-family: Poppins, Open Sans;
  font-size: 100%; 
  font-weight: 600; 
  text-align: center;
  line-height: 100%;
  color:#834257;
  width: 5vw; 
  height: 15vh; 
  bottom: 0%; 
  /* border-style: solid; */
}

#arrow {
  position:fixed;
  left: 10%;
  right: auto;
  top: 15vh;
  margin: auto;
  font-family: Poppins, Open Sans;
  font-size: 100%; 
  font-weight: 100; 
  text-align: center;
  line-height: 100%;
  color:#834257; 
  bottom: 0%; 
  /* border-style: solid; */
  z-index: 100;
  opacity: 0;
}

.eventbox {
  position:fixed;
  left: 15%;
  right: auto;
  top: 15vh;
  margin: auto;
  font-family: Poppins, Open Sans;
  font-size: 100%; 
  font-weight: 600; 
  text-align: center;
  line-height: 100%;
  color:#834257; 
  bottom: 0%; 
  z-index: 100;
  opacity: 1;
}

.linebox {
  position:fixed;
  left: 80%;
  right: auto;
  top: 15vh;
  margin: auto;
  font-family: Poppins, Open Sans;
  font-size: 100%; 
  font-weight: 600; 
  text-align: center;
  line-height: 100%;
  color:#834257; 
  bottom: 0%; 
  z-index: 100;
  opacity: 1;
}

#path_web {
  position: fixed;
  margin:auto;
  top: 50vh;
  left: 52.5vw;
  z-index: 1000000;
  opacity: 0;
}

#path_mobile {
  opacity: 0;
}

#art {
  height: 80vh;
  width:auto;
}

.centertext {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 20;
  margin: auto;
  font-family: Poppins, Open Sans;
  font-size: 5vmin; 
  font-weight: 600; 
  text-align: center;
  line-height: 100%;
  color:#834257;
  width: 45vw; 
  height: 15vh; 
  bottom: 20%; 
  opacity: 0;
}

#cartoon {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 100%;
  opacity: 0;
  color:#834257;
  text-align: center;
}

#reception1 {
  opacity: 0;
}

#wedding {
  opacity: 0;
}

#reception2 {
  opacity: 0;
}

@media screen and (orientation:portrait) {

  #scroll {
  position: fixed;
  top:85vh;
  left: auto;
  right: 10vw;
  z-index: 100;
  margin: auto;
  font-family: Poppins, Open Sans;
  font-size: 100%; 
  font-weight: 600; 
  text-align: center;
  line-height: 100%;
  color:#834257;
  width: 20vw; 
  height: 15vw; 
  bottom: 0%; 
  /* border-style: solid; */
  }

  #cartoon {
    position: fixed;
    width: 30vw;
    top:72.5vh;
    margin:auto;
    left:15vw;
  }

  .button {
    position: fixed;
    padding: 3vh 5vw;
    line-height: 0;
    top: 87.5vh;
    left: 10vw;
    bottom: 3%;
    float:left;
    margin:auto;
  }

  #names {
    width: 90vw; 
    height: 40vh; 
    top:15vh;
    font-size: 10vw;
  }

  #art {
    width: 90vw;
    height: auto;
    margin:auto;
  }

  #wreath {
    width: 90vw; 
    height: 90vw; 
    top:15%;
    opacity: 1;
  }

  #arrow {
    width: 90vw;
    left:5%;
    margin:auto;
  }

  .centertext {
    position: fixed;
    width: 45vw; 
    height: 15vw; 
    top: 50vh;
    bottom: 40vh; 
  }

  #path_web {
    opacity: 0;
  }
  
  #path_mobile {
    opacity: 0;
    position: fixed;
    top: 67.5vh;
    left: 50vw;
    right:auto;
    margin:auto;    
  }

  .eventbox {
    position:fixed;
    display:block;
    margin:auto;
    top: 20vh;
    height:80vh;
    width: 80vw;
    bottom:20%;
  }

  .linebox {
    position:fixed;
    display:block;
    margin:auto;
    top: 33vh;
    height:80vh;
    width: 20vw;
    bottom:20%;
  }

  .eventdetailsbox {
    float:left;
    display: block;
    margin:auto;
    width: 90%;
    top: 20vh;
    text-align:center;
    margin-top: 10vh;
  }

  .eventpath {
    float:left;
    position: fixed;
    display: block;
    margin:auto;
    width: 10%;
    text-align:center;
  }

  .eventline {
    display: inline-block;
    height: 3px; 
    width: 70%; 
    margin:auto; 
    background-color: #834257; 
    border-radius: 3px;
  }

  .eventtitle {
    font-size: 150%;
  }

  .eventtime {
    line-height: 3vh;
  }

  .eventloc {
    line-height: 3vh;
  }

  #path2 {
    top:38vh;
  }

  #path3 {
    top:59.5vh;
  }

}
